<ion-list *ngIf="stage.activities && stage.activities.length > 0">
  <ion-list-header color="light" (click)="toggleOpen()">
    {{ stage.name | stagename }}
    <ion-icon [name]="icon" item-right></ion-icon>
  </ion-list-header>
    <ion-item  text-wrap *ngFor="let talk of stage.activities | orderByDate" (click)="goToTalk(talk)" [hidden]="!opened">
        <h2>{{ talk.title }}</h2>
        <p>{{ talk.stage | stagename }} - {{ talk.date | date:'dd/MM/yyyy - HH:mm' }}</p>
      <ion-icon name="star" item-right *ngIf="isFavorite(talk)" color="primary"  (click)="toggleFavorite(talk, $event)"></ion-icon>
      <ion-icon name="star-outline" item-right *ngIf="!isFavorite(talk)" color="primary" (click)="toggleFavorite(talk, $event)"></ion-icon>
    </ion-item>
</ion-list>